@mixin chart-style($height, $width) {
    height: $height;
    width: $width;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  
  .chart-container {
    @include chart-style(300px, 600px);
  
    @media (max-width: 768px) {
      @include chart-style(200px, 100%);
    }
  }
  